*{
    margin:0;
    padding: 0;
    outline: 0;
    
}
body{
    text-align: center;
    font-family: Arial,"微軟正黑體";
    background-image:url('img/bg.png');
    background-size: cover;
    color: #fff;
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    position: relative;
    width: 100%;
  }
  div.bingo{
    background-image: linear-gradient(to right bottom,#FF5858,#FF9434);
    width: 600px;
    height: 400px;
    margin:auto;
    padding: 1rem;
    border-radius: 2rem;
    background:rgba(#fff,.1);
    box-shadow:0 0 30px rgba(#333,.6);
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content: space-around;
  }
  span{
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    padding:.5rem;
    margin:10px;
    font-size: 2rem;
    line-height:70px;
    border:2px solid #fff;
    font-weight: 100;
    animation: ballIn .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    opacity: 0;
  }
  .bingo span:nth-child(1){
      animation-delay: .1s;
  }
  .bingo span:nth-child(2){
    animation-delay: .2s;
}
.bingo span:nth-child(3){
    animation-delay: .3s;
}
.bingo span:nth-child(4){
    animation-delay: .4s;
}
.bingo span:nth-child(5){
    animation-delay: .5s;
}
  @keyframes ballIn{
    0%{ opacity: 0;transform:rotate(-45deg) translateX(-20px)}
    100%{opacity: 1;transform:rotate(0deg) translateX(0)}
  }
  h1{
      font-size: 48px;
  }
  button{
    -webkit-appearance: none;
    border: 2px solid #fff;
    background: transparent;
    width:150px;
    height: 70px;
    font-size: 25px;
    color:#fff;
     border-radius: 2rem;
    margin:auto;
  }
  h3{
    font-size: 42px;
    font-weight: 100;
    background: rgba(0,0,0,.5);
  }
  .fixBottim{
      position: absolute;
      bottom: 0px;
      left: 0px;
      text-align: center;
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
  }